/MvcAppToModernize/WebApplication/bin
/MvcAppToModernize/WebApplication/obj

/MvcAppToModernize/Models/bin
/MvcAppToModernize/Models/obj

/MvcAppToModernize/Repositories/bin
/MvcAppToModernize/Repositories/obj

/MvcAppToModernize/Services/bin
/MvcAppToModernize/Services/obj

/MvcAppToModernize/ExternalAPI/bin
/MvcAppToModernize/ExternalAPI/obj

.fake